<!DOCTYPE html>
<html>
<head>
	<title>Test</title>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"/></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"/></script>
	<script type="text/javascript" src="javascripts/common.js"></script>
	
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div id="content">
		<div id="desktop" class="choice"></div>
		<div id="mobile" class="choice"></div>
	</div>
	<div id="experiment">
		<div id="cube">
			<div class="face one">
				1
			</div>
			<div class="face two">
				2
			</div>
			<div class="face three">
				3
			</div>
			<div class="face four">
				4
			</div>
			<div class="face five">
				5
			</div>
			<div class="face six">
				6
			</div>
		</div>
	</div>
</body>
</html>